<div class="row">
	<div class="col-md-6"><h2>Hello: <%= current_user.email%></h2></div>
</div>
<div class="row">
	<div class="col-md-6">
		<%= link_to("Logout", destroy_user_session_path, :method => "delete", :class => "btn btn-danger") %> 
		<%= link_to("Edit", edit_user_registration_path, :method => "get", :class => "btn btn-info" ) %>
		<%= link_to("Send contact", new_contact_path, :method => "get", :class => "btn btn-primary") %>
	</div>
</div>



